@media only screen and (max-width: 600px) {
    #wrapper {
        margin: auto;
        width: 100%;
    }
    #main {
    height: fit-content;
    }
    #footer {
    height: auto;
    }
    .loader-wrapper {
        width: 100%;
        height: 100%;
    }
    #logonav{
        padding-left: 0%;
      }
    .carousel-item > img {
        width: 100%;
      }

}
