html{
  font-family: Arial, Helvetica, sans-serif;
  color: #403e3f;
  scroll-behavior: smooth;
}

.navbar{
  background-color: #272727;
}
#footer {
    color: white;
    text-align: center;
}
.isifx { 
  display: flex;
  flex-direction: column;
  text-align: start;
}
.isifx > div { 
  margin: 10px 20px 0px 20px;
  padding: 10px;

}
#gmtbpop {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  text-align: left;
  padding: 8%;
}
th {
  background-color: #bdbdbd;
}
.gmlist { 
  display: flex;
  flex-direction: column;
}
.gmlist > div { 
background-color: rgb(246, 246, 246);
margin: 10px 0px 10px 0px;
padding: 10px;
}

.gmspc {
  display: flex;
  flex-direction: column;
}
.gmspctl{
  display: flex;
  flex-direction: row;
  align-content: start;
}
.gmspcpc {
  text-align: start;
  margin-top: 3%;
}

.btngm{ 
  background-color: rgba(23, 26, 32, 0.8); 
  border: none; 
  border-radius: 6px; 
  color: #fff; 
  flex-grow: 1; 
  font-family: SFProText-Regular, Helvetica, Arial, sans-serif; 
  font-size: 15px; 
  height: 36px; 
  line-height: 20px; 
  margin-left: 8px; 
  margin-right: 6px; 
  min-width: 185px; 
  padding: 0 16px 0 16px; 
  color:white; 
  cursor: pointer; 
  } 
  
  .btngm:hover{ 
  background-color: rgba(23, 26, 32, 1); 
  cursor: pointer; 
  }

  #lstid{
    text-decoration:none;
    color:black;
  }
  #lstid:link,#lstid:visited{
    text-decoration:none;
    color:black;
  }
  #lstid:active,#lstid:hover{
    text-decoration:none;
    color:rgb(170, 33, 255);
  }

/*search bar*/
#myInput {
  margin-bottom: 10px;
}

#myList {
  list-style-type: none;
  padding: 0;
  margin: 0;
  height: 100px;
  overflow-y: scroll;
}

#myList li a {
  border: 1px solid #ddd;
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  color: black;
  display: block
}

#myList li a:hover:not(.header) {
  background-color: #eee;
}
#myList {
  display: none;
}